{% if flasMessaje is not defined %}
    <div class="alert alert-danger hidden" id="message-danger" role="alert">
        <div class="container">
            <span id="user-message-danger"></span>
        </div>
    </div>
{% endif %}

{% for flashMessaje in app.session.flashbag.get('message')%}
    <div class="alert alert-danger" role="alert">
        <div class="container">{{ flashMessaje }}</div>
    </div>
{% endfor %}